.currentGradient {
	width: 340px;
	height: 280px;
	margin-bottom: 15px;
	border-radius: 10px;
	position: relative;
	border: 2px solid black;
}

.currentGradient::after {
	content: "RANDOMIZE";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	font-size: 20px;
	letter-spacing: 1px;
	width: 200px;
	height: 75px;
	background-color: #ffffff7b;
	backdrop-filter: blur(2px);
	cursor: pointer;
	opacity: 0;
	transition: opacity 0.2s;
}

.currentGradient:hover::after {
	content: "RANDOMIZE";
	opacity: 1;
}

.secondColorInput {
	min-width: 40px;
}

.firstColorInput {
	min-width: 40px;
}
.copyBtn {
    background: linear-gradient(to right, #d5000017, #d500001f);
    border: 1px solid rgb(115, 115, 115);
    position: relative;
    overflow: hidden;
    z-index: 100;
    color: white;
    height: 48px;
    border-radius: 7px;
    font-size: 19px;
    border-color: rgb(115, 115, 115)!important;
}

.copyBtn::after {
    content: "";
    color: white;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #d500005a, #d500006c);
    position: absolute;
    top: 100%;
    left: 0;
    border-radius: 7px;
    transition: 0.2s;
    z-index: -1; /* Zmieniamy z-index na wartość niższą niż przycisk */
}

.copyBtn:hover::after {
    content: '';
    top: 0;
    z-index: -1; /* Zmieniamy z-index na wartość niższą niż przycisk */
}

.alert {
	height: 57px;
	min-width: 150px;
	margin-top: 15px;
	z-index: 1000;
}

.inputsContainer {
	display: flex;
	justify-content: center;
	height: 280px;
}

@media (min-width: 768px) {
	.currentGradient {
		margin-right: 35px;
		margin-bottom: 0;
	}
}

@media (min-width: 992px) {
	.alert {
		margin-left: 190px;
		margin-top: 0;
	}
}
