.currentGradient {
	width: 340px;
	height: 280px;
	margin-bottom: 15px;
    border-radius: 10px;
}

.secondColorInput {
	min-width: 40px;
}

.firstColorInput {
	min-width: 40px;
}

/* h1{
	font-family: 'Nosifer', cursive;
} */

.alert {
	height: 57px;
	min-width: 150px;
	margin-top: 15px;
	z-index: 1000;
}

.inputsContainer{
    display: flex;
    justify-content: center;
    height: 280px;
}

@media (min-width: 768px) {
	.currentGradient {
		margin-right: 35px;
		margin-bottom: 0;
	}
}

@media (min-width: 992px) {
	.alert {
		margin-left: 190px;
		margin-top: 0;
	}
}
