.currentGradient {
	width: 340px;
	height: 280px;
	margin-bottom: 15px;
    border-radius: 10px;
	position: relative;
}

.currentGradient::after{
	content: 'RANDOMIZE';
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	font-size: 20px;
	letter-spacing: 1px;
	width: 200px;
	height: 75px;
	background-color: #ffffff7b;
	backdrop-filter: blur(2px);
	cursor: pointer;
	opacity: 0;
	transition: opacity .2s;
}

.currentGradient:hover::after{
	content: 'RANDOMIZE';
	opacity: 1;
}

.secondColorInput {
	min-width: 40px;
}

.firstColorInput {
	min-width: 40px;
}

.copyBtn{
	background: linear-gradient(to bottom, #2f2f2f, #0f0f0f);
}

.copyBtn:hover{
	background: linear-gradient(to bottom, #4a4a4a, #272727);
}

.alert {
	height: 57px;
	min-width: 150px;
	margin-top: 15px;
	z-index: 1000;
}

.inputsContainer{
    display: flex;
    justify-content: center;
    height: 280px;
}

@media (min-width: 768px) {
	.currentGradient {
		margin-right: 35px;
		margin-bottom: 0;
	}
}

@media (min-width: 992px) {
	.alert {
		margin-left: 190px;
		margin-top: 0;
	}
}
