.footer {
    background: linear-gradient(to top, #090000, #000000);
	color: #d6d6d6;
	text-align: center;
}

svg {
	margin: 0 auto;
}

svg:hover{
    color: #797979;
}

p {
	margin-bottom: 3px;
}

a {
	color: #d6d6d6;
    text-decoration: none;
}

a:hover{
    color: #989898;
}
