html{
    scroll-behavior: smooth;
    scroll-padding-top: 60px;
}

body{
    font-family: 'Alexandria', sans-serif;
}

main{
    color: white;
}

h1, h2{
    text-shadow: 0 0 3px rgb(187, 187, 187);
}